body{
	
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
h1, div, button{
	text-align: center;
	font-family: 'Kumar One', cursive;

}
h1, .win-loss, #computer-number, #score, button{
	border: 1.5px black solid;
	border-radius: 12px;

}
h1{
	background-color: purple;
	width: 20%;
	margin: 0 auto;
	font-size: 30px;
	font-weight: bolder;
	padding: 15px;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.win-loss{
	background-color: red;
	width: 20%;
	margin: 0 auto;
	font-weight: bolder;
	padding: 15px;
	padding-top: 20px;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* #crystalImg{
	position: relative;
	top: 100px;
} */

img{
	width: 200px;
	height: 200px;
	margin: 10px 0px 10px 0px;
}
#computer-number, #score{
	background-color: blue;
	width: 30%;
	margin: 0 auto;
	font-weight: bolder;
	padding: 15px;
	padding-top: 20px;
	font-size: 25px;
	display:inline-block;
	text-align: center;

}
.scoreNumber{
		margin: 0 auto;
		width: 70%;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;

}
img:hover{
	transform: scale(1.1); 
	transition-duration: 0.8s;

}
button{
	background-color: purple;
	font-size: 25px;
	font-weight: bolder;
	width: 20%;
	padding: 15px;


}
button:focus {outline:0;}
button:hover{
	transform: scale(1.1);
	background-color: white;
    color: black;
    transition-duration: 0.8s;
}
#instructions{
	width: 40%;
	background-color: yellow;
	border: 1.5px solid black;
	border-radius: 12px;
	padding: 5px;
	margin: 0 auto;
	line-height: 25px;
}